.card_list {
  display: grid;
  margin: 0 auto;
  max-width: 1390px;
  grid-template-columns: repeat(auto-fit, 222px);
  grid-gap: 40px;
  padding: 0;
}

@media (max-width: 768px) {
  .card_list {
    max-width: 90%;
  }
}
