.card_list {
  display: grid;
  margin: 0 auto;

  grid-template-columns: repeat(3, 222px);
  justify-items: center;
  grid-gap: 36px;
  padding: 0;
}
@media (max-width: 860px) {
  .card_list {
    grid-template-columns: repeat(2, 222px);
  }
}
@media (max-width: 560px) {
  .card_list {
    grid-template-columns: 222px;
  }
}
